/* Global resets */

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #ddd;
  font-family: var(--font-family);
}

/* Component previews */

.component-item {
  background-color: #b2b2b2;
  border-radius: 30px;
  padding: 25px;
  margin-bottom: 20px;
}
