:root {
  --color-primary: #6EDB92;

  --border-radius: 8px;
  --card-padding: 24px;
  --card-background: #fff;

  --btn-border-radius: 6px;
  --btn-padding: 8px 24px;

  --input-border-radius: 6px;
  --input-padding: 8px 12px;
  --input-border-color: #ccc;
  --input-border-color-focus: var(--color-primary);
}
