---
import '../styles/tokens.css';
import '../styles/components.css';
import '../styles/styleguide.css';
---
<html lang="cs">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Style Guide</title>
  </head>
  <body>
    <h1>Style Guide</h1>

    <h2>Pages</h2>
    <ul>
      <li><a href={`${import.meta.env.BASE_URL}/login`}>Login</a></li>
    </ul>
    <h2>Components</h2>
    <div class="component-item">
      <h3>Card</h3>
      <div class="component-preview">
        <div class="card">Card content</div>
      </div>
      <pre>
        <code>
          &lt;div class=&quot;card&quot;&gt;Card content&lt;/div&gt;
        </code>
      </pre>
    </div>

     <div class="component-item">
      <h3>Button</h3>
      <div class="component-preview">
        <button class="btn btn-primary">Click me</button>
      </div>
      <pre>
        <code>
          &lt;button class=&quot;btn btn-primary&quot;&gt;Click me&lt;/button&gt;
        </code>
      </pre>
    </div>
  </body>
</html>
