---
import '../styles/tokens.css';
import '../styles/typography.css';
import '../styles/components.css';
import '../styles/styleguide.css';
---
<html lang="cs">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cvičení 5</title>
  </head>
  <body>
    <div class="card">
      <!-- TODO:
        + inputs
        + link: forget password
      -->
      <div>TODO</div>
      <button class="btn btn-primary">Button</button>
    </div>
  </body>
</html>
